<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Security ToolKit</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="navbar">
      <h2>Security Toolkit</h2>
      <a href="/">Home</a>
      <a href="/logs">Logs</a>
      <a href="/brute">Brute Force</a>
    </div>
    <div class="container">{% block content %}{% endblock %}</div>
  </body>
</html>
