{% extends "base.html" %} {% block content %}
<h2>Log Analysis</h2>

<p>Failed Attempts: {{ result.failed }}</p>
<p>Successful Logins: {{ result.success }}</p>

<h3>User Attempts:</h3>

{% for user, count in result.users.items() %}
<p>{{ user }} -> {{ count }}</p>
{% endfor %}

<h3>Ai Analysis</h3>
<p>{{agent.analysis}}</p>

<h3>Decision</h3>
<p>{{agent.decision}}</p>

<h3>Action</h3>
<p>{{agent.action}}</p>

<h3>Tool Output</h3>
{% if agent.tool_output %} {% for port in agent.tool_output %}
<p>{{port}}</p>
{% endfor %} {% else %}
<p>No tool executed</p>
{% endif %} {% endblock %}
